<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shankong.mapper.CataLogMapper">
    <select id="findByPage" resultType="com.shankong.pojo.CataLog">
        select *
            from tb_catalog
        where catalog_state != 2
        order by sort_order asc
        limit #{limit} offset #{offset}
    </select>

    <select id="count" resultType="int">
        select count(*)
            from tb_catalog
        where catalog_state != 2
    </select>

    <select id="findById" resultType="com.shankong.pojo.CataLog">
        select *
            from tb_catalog
        where catalog_id = #{id}
    </select>

    <update id="softDeleteById">
        update tb_catalog set catalog_state = 2
            where catalog_id = #{id}
    </update>

    <update id="updateCatalog">
        update tb_catalog
        <set>
            <if test="catalogName != null and catalogName != ''">
                catalog_name = #{catalogName},
            </if>
            <if test="catalogNumber != null and catalogNumber != ''">
                catalog_number = #{catalogNumber},
            </if>
            <if test="catalogState != null">
                catalog_state = #{catalogState},
            </if>
        </set>
        where catalog_id = #{catalogId}
    </update>
    <update id="move">
        UPDATE tb_catalog
        SET sort_order = #{newOrder}
        WHERE sort_order = #{oldOrder}
    </update>

    <select id="selectPrevious" resultType="com.shankong.pojo.CataLog">
        SELECT * FROM tb_catalog
        WHERE sort_order &lt; #{sortOrder} AND catalog_state != 2
        ORDER BY sort_order DESC
        LIMIT 1
    </select>

    <select id="selectNext" resultType="com.shankong.pojo.CataLog">
        SELECT * FROM tb_catalog
        WHERE sort_order &gt; #{sortOrder} AND catalog_state != 2
        ORDER BY sort_order ASC
        LIMIT 1
    </select>

    <update id="updateSortOrder">
        UPDATE tb_catalog SET sort_order = #{sortOrder}
        WHERE catalog_id = #{catalogId}
    </update>

    <insert id="addCatalog" useGeneratedKeys="true" keyProperty="catalogId">
        INSERT INTO tb_catalog(catalog_name, catalog_number, catalog_state, sort_order)
        SELECT #{catalogName}, #{catalogNumber}, #{catalogState}, COALESCE(MAX(sort_order), 0) + 1
        FROM tb_catalog
    </insert>
</mapper>